* {
    background-size: 400% 400%;
    color: black;
    font-size: 20px;
}

body {
    background: linear-gradient(-45deg,#c693ff, #f8f2ff);
    background-size: 150%;
    animation: moveGradient 10s ease infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#title {
    font-size: xx-large;
    font-weight: 600;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#title-container {
    display: flex;
    justify-content: center;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 50px;
    gap: 50px;
}

#description {
    display: inline-block;
    padding: 50px;
}

.link {
    font-weight: 500;
}

.project-card {
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
    transform: scale(1.05); 
}

.project-card-container {
    padding: 40px;
    border-radius: 50px;
}

.project-card-title {
    font-weight: 600;
}

.project-card-technologies {
    display: flex;
    gap: 5px;
}

.project-card-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sveltekit-label {
    background-color: orangered;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.tailwind-label {
    background-color: lightskyblue;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border:1px solid black;
}

.python-label {
    background-color: goldenrod;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.pygame-label {
    background-color: orange;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.stow-label {
    background-color: grey;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.shell-label {
    background-color: greenyellow;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.react-label {
    background-color: aqua;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.javascript-label {
    background-color: #f5e042;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.threejs-label {
    background-color: darkcyan;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

.jost-normal {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.bruno-ace-sc-regular {
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.syne-normal {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
